.hero-video {

      /* important */
  container-type: size;

  /* cut off overflowing video */
  overflow: hidden;
    /* opacity: 0; */
    position: absolute;
    /* keep video centered both vertically and horizontally */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
  
    /* force aspect ratio based on parent container */
    @container (min-aspect-ratio: 16/9) {
      height: 56.25cqw;
    }
  
    @container (max-aspect-ratio: 16/9) {
      width: 177.78cqh;
    }

} 

.playControl {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 15px;
}

.playControl img:hover {
  cursor: pointer;
}



    /* opacity: 0; */
/* 
.slide .image-slide-title {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.image-slide-title span {
    position: absolute !important;
    top: 80px;
    left: 80px;
    z-index: 999999;
    font-size: 10px !important;
    font-family: monospace !important;
} */