.hero-video {

  /* important */
  container-type: size;

  /* cut off overflowing video */
  overflow: hidden;
  /* opacity: 0; */
  position: absolute;
  /* keep video centered both vertically and horizontally */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* force aspect ratio based on parent container */
  @container (min-aspect-ratio: 16/9) {
    height: 56.25cqw;
  }

  @container (max-aspect-ratio: 16/9) {
    width: 177.78cqh;
  }

}

.showControl,
.hideControl {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 15px;
  opacity: 0;
  display: none;
  cursor: pointer;
}



.showControl img:hover,
.hideControl img:hover {
  cursor: pointer;
  height: 100%;
  width: auto;
}


/* Gallery blocks */

.galleryFilm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery-overlay {
  position: absolute;
  height: 100%;
  width: 101% !important;
  background-color: #0000008c;
  /* color: #fff; */
  margin-top: 0em !important;
  font-size: 1.5rem !important;
  cursor: pointer;
  pointer-events: none;

}

.galleryFilm .image-slide-title {
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: auto;
  width: 101% !important;
  cursor: pointer;
  pointer-events: none;
}

.galleryButton {
  /* position: absolute; */
  margin-top: 20px;
}


/* opacity: 0; */
/* 
.slide .image-slide-title {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.image-slide-title span {
    position: absolute !important;
    top: 80px;
    left: 80px;
    z-index: 999999;
    font-size: 10px !important;
    font-family: monospace !important;
} */